
/* tabbed list */

#login-register-password:after{content:'.';clear:both;display:block;visibility:hidden;}

ul.tabs_login{
	padding: 0 !important; 
	position: relative;
	list-style: none !important;
	font-size: 14px;
	z-index: 1000;
	float: left;
	margin:0 !important;
}

ul.tabs_login li{
	border: 1px solid #E7E9F6;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;	
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;	
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	line-height: 28px; /* = */ height: 28px;
	padding: 0 !important; 
	margin: 0 2px 0 0 !important;
	position: relative;
	background: rgba(255, 255, 255, 0.9) !important;
	background-image:none !important;
	overflow: hidden;
	float: left;
}

ul.tabs_login li a{
	text-decoration: none;
	padding: 0 10px;
	display: block;
	outline: none;
}

html ul.tabs_login li.active_login{
	border-left: 1px solid #E7E9F6;
	border-bottom: none;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;	
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;	
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	color: #333;
}

html body ul.tabs_login li.active_login a{ 
	font-weight: bold; 
}

.tab_container_login{
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	margin: 0 0 20px 0;
	border: 1px solid #E7E9F6;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;	
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	z-index: 999;
	float: left;
	width: 100%;
	top: -1px;
}

.tab_content_login{
	padding: 7px 15px 15px 15px;
	padding-top: 10px;
}

.tab_content_login ul{
	padding: 0; 
	margin: 0 0 0 15px;
}

.tab_content_login li{ 
	margin: 5px 0; 
}

/* global styles */

#login-register-password {
	height:0px;
}

#login-register-password.logged-in {
	height:auto !important;
	margin-bottom:-20px;
}

#login-register-password.shortcode {
	line-height:18px !important;
}

#login-register-password.shortcode h3 {
	text-align: center;
}

#login-register-password h3{
	border-bottom: 2px solid /*rgba(136, 142, 145, 0.8)*/ rgba(0,0,0,0.8);
	margin-bottom: 10px !important;
	padding-bottom : 10px !important;
}

#login-register-password p{
	margin: 0 0 15px 0;
	padding: 0;
	font-size:13px;
}

/* form elements */

.wp-user-form {}

.username, 
.password, 
.login_fields {
	margin: 7px 0 0 0;
	overflow: hidden;
	width: 100%;
}
	
.username label, 
.password label{ 
	float: left; 
	clear: none; 
}

.username input, 
.password input{
	font: 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif !important;
	float: left; 
	clear: none; 
	width: 95%; 
	height: 15px;
	padding: 2px 3px; 
	color: #777 !important;
	background:white;
	border: 1px solid #CCC;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1) !important;
	-webit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
	margin:0 !important;
}

.rememberme{ 
	overflow: hidden; 
	width: 100%; 
	margin-bottom: 7px; 
}

#rememberme{ 
	float: left; 
	clear: none; 
	margin: 4px 4px -4px 0; 
}

.user-submit{ 
	padding: 5px 10px; 
	margin: 5px 0; 
}

.userinfo{ 
	float: left; 
	clear: none; 
	width: 75%; 
	margin-bottom: 10px; 
}
.userinfo p{ 
	margin-left: 10px !important; 
	margin-bottom: 3px !important; 
}

.usericon{ 
	float: left; 
	clear: none;
	width:50px;
	max-width:25%;
}

.usericon img {
	padding: 1px;
}